# Dependencies
node_modules/

# Environment variables
.env

# Salesforce local config
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Coverage
coverage/
